<mat-card>
  <mat-spinner *ngIf="isLoading"> </mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>User Name</mat-label>
    <!--- <input
        matInput
        name="email"
        ngModel
        type="email"
        #emailInput="ngModel"
        required
      />-->
     <input
        matInput
        name="userName"
        ngModel
        type="text"
        #userNameInput="ngModel"
        required
      />

      <mat-error *ngIf="userNameInput.invalid"
        >Please enter a valid the email</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        name="password"
        ngModel
        type="password"
        #passwordInput="ngModel"
        required
      />
      <mat-error *ngIf="passwordInput.invalid"
        >Please enter a valid the password</mat-error
      >
    </mat-form-field>

    <button
      class="sign-up"
      mat-raised-button
      color="accent"
      type="submit"
      *ngIf="!isLoading"
    >
      Signup
    </button>
  </form></mat-card
>
