<footer class="footer">
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  />
  <div class="container">
    <div class="row">
      <div class="content">
        <div class="post">
          <h2>CHXME</h2>
        </div>
      </div>
      <div class="footer-col-1">
        <h4>About chXme</h4>
        <p class="footer-about">
          Lorem ipsum Ut velit dolor Ut labore id fugiat in ut fugiat nostrud
          qui in dolore commodo eu magna Duis cillum dolor officia esse mollit
          proident Excepteur exercitation nulla.
        </p>
      </div>
      <div class="footer-col-2">
        <h4 class="copy-right">&copy; reserved by designer:</h4>
        <a href="#"><i>– Tovias Nunez Borrero</i> 2023 –</a>
      </div>
      <div class="footer-col-3">
        <h4 class="follow-me">follow me</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/" class="fb"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="https://twitter.com/" class="tw"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://www.instagram.com/tovias_alafin/" class="ig"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="https://www.linkedin.com/login/de" class="lnk"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>
