.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
	background-color: #24262b;
  padding: 20px 0;
  margin: 0px;
 z-index: 99;
}

.footer .container{
	max-width: 90%;
	margin: 0 auto;
}

.footer .container .row{
	display: flex;
	flex-wrap: wrap;
}

.footer .container .row .content{
  padding: 10px 0 30px;
}

.footer ul{
	list-style: none;
}

.footer .container .row .footer-col-1{
   width: 40%;
   padding: 0 15px;
   margin: 0 0 20px;
}

.footer .container .row .footer-col-1 h4{
  font-weight: 600;
  color: var(--color-1);
}

.footer .container .row .footer-col-1 .footer-about{
  color: var(--color-1);
  font-size: 14px;
  font-weight: 300;
}

.footer .container .row .footer-col-2{
   width: 30%;
   margin: 0 0 15px;
}

.footer .container .row .footer-col-3{
   width: 30%;
   padding: 0 15px;
}

.footer .footer-col-2{
  text-align: center;
}

.footer .footer-col-3{
  display: flex;
}

.footer .footer-col-2 h4{
	font-size: 18px;
	color: var(--color-1);
	text-transform: capitalize;
	margin-bottom: 15px;
	font-weight: 500;
	position: relative;
}

.footer .footer-col-2 a{
  color: var(--color-1);
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}

.footer .footer-col-3 .follow-me{
  font-weight: 600;
  color: var(--color-1);;
}

.footer .footer-col-3 .social-links{
  margin-left: 5px;
}

.footer .footer-col-3 .social-links a{
	display: inline-block;
	height: 30px;
	width: 30px;
	background-color: rgba(255,255,255,0.2);
	margin:0 5px 0 10px;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	color: var(--color-1);
	transition: all 0.5s ease;
}
.footer .footer-col-2 a:hover{
	color: var(--color-2);
}

.footer .footer-col-3 .social-links a:hover{
	color: var(--color-1);
	background-color: var(--color-2);
}

/*responsive*/
@media(max-width: 767px){
  .footer .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}


@media(max-width: 600px){
  .footer{
    width: 100%;
  }

  .footer .container{
    display: flex;
  }

  .footer .container .content {
    width: 100%;
    text-align: center;
  }

  .footer .container .row .footer-col-1{
    width: 100%;
    text-align: center;
  }

  .footer .container .row .footer-col-2{
    width: 100%;
    text-align: center;
     padding: 0 0 20px;
  }

  .footer .container .row .footer-col-2 h4{
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
  }

  .footer .container .row .footer-col-2 a{
    font-size: 12px;
  }

  .footer .container .row hr{
    color: #fff;
    width: 50%;
    margin: 10px auto 30px;
  }

  .footer .container .row .line-1{
    color: #fff;
    width: 20%;
    margin: 5px auto 20px;
  }

  .footer .container .row .footer-col-3{
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 0 20px;
  }

  .footer .container .row .footer-col-3 .follow-me{
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin: 0 0 15px;
  }

  .footer .container .row .footer-col-3 .social-links{
    width: 100%;
    text-align: center;
    margin: 0;
  }
}
