/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root{
  --color-1: #fff;
  --color-2: rgb(238, 115, 43);
  --color-3: rgb(126, 61, 24);
  --color-body: #333333;
}

:root{
  --font-1: "Open Sans", sans-serif;

}

*, html{
  box-sizing: border-box;
}

body{
  font-family: "Open Sans", sans-serif;
  color: var(--color-body);
}

p{
  font-size: 18px;
}

h2{
  font-weight: 700;
  color: var(--color-1);
}

